.a__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 45px;
  padding: 10px 40px;
  background-color: theme-color('primary');
  color: $white;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}
