<div class="demo-animate"
     onclick="this.classList.toggle( 'a__anim__bounce-in-right' )">
    <strong>Bounce In Right</strong> Click to see the effect
</div>

<div class="demo-animate"
     onclick="this.classList.toggle( 'a__anim__bounce-out-left' )">
    <strong>Bounce Out Left</strong> Click to see the effect
</div>
