.alignleft {

  /*rtl:ignore*/
  float: left;

  /*rtl:ignore*/
}

.alignright {

  /*rtl:ignore*/
  float: right;

  /*rtl:ignore*/
}

.aligncenter {
  display: block;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}
