// Override bootstrap theme colors.
// https://getbootstrap.com/docs/4.1/getting-started/theming/#modify-map
$theme-colors: (
  'primary': #2B67DB,
);

$guten-colors: (
  'white' : #FFFFFF,
  'gray-1' : #F5F5F5,
  'gray-2' : #DCDCDC,
  'gray-3' : #C0C0C0,
  'gray-4' : #A9A9A9,
  'gray-5' : #808080,
  'gray-6' : #696969,
  'black' : #000000,
);

@each $name, $color in $guten-colors {
  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}
