// sass-lint:disable no-important

@mixin quote {
  margin-left: 0;
  padding-left: 30px;
  border-left: 3px solid $primary !important;
  font-family: $font !important;

  p {
    margin-bottom: 1rem !important;
  }

  &__citation,
  cite {
    font-family: $font !important;
    font-size: 13px;
    font-style: normal;
  }
}

@mixin pullquote {
  margin-right: -25px;
  margin-left: -25px;
  padding: 40px 1.5rem 20px;
  border-top: 3px solid $primary !important;
  border-bottom: 3px solid $primary !important;
  background-color: $primary !important;
  color: $white !important;
  font-family: $font !important;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: -.24px;
  line-height: 38px;
  text-align: left;

  @media (min-width: $lg) {
    margin-right: auto;
    margin-left: auto;
    padding: 49px 62px 44px 54px;
    font-size: 30px;
    letter-spacing: normal;
    line-height: 40px;
  }

  p {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
    color: $white !important;
    font-size: 28px !important;
  }

  &__citation,
  cite {
    font-family: $font !important;
    font-size: 13px;
    font-style: normal;
    text-transform: uppercase;
  }
}