h1 {
  font: {
    size: rem(64px);
    weight: bold;
  }
  line-height: .8;
}

h2 {
  font: {
    size: rem(48px);
    weight: bold;
  }
  line-height: 1;
}

h3 {
  font: {
    size: rem(40px);
    weight: bold;
  }
  line-height: 1.2;
}

h4 {
  font: {
    size: rem(36px);
    weight: bold;
  }
  line-height: 1.3;
}

h5 {
  font: {
    size: rem(32px);
    weight: bold;
  }
  line-height: 1.5;
}

h6 {
  font: {
    size: rem(24px);
    weight: bold;
  }
  line-height: 2;
}
