h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: .8;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
}

h4 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.3;
}

h5 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
}

h6 {
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
}
