@mixin link {
  color: $primary;
  font-family: $font;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-decoration: underline;
  cursor: pointer;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @include media-breakpoint-up(lg) {
    line-height: 30px;
  }

  &:hover {
    text-decoration: none;
  }
}

.link {
  @include link;
}