.classic-wysiwyg {
  a {
    @include link;
  }

  p {
    @include paragraph;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ol {
    @include list-ordered;
  }

  ul {
    @include list-unordered;
  }
}