.m__primary-nav {
  overflow: hidden;

  .a__hamburger {
    @include mq(tablet) {
      display: none;
    }
  }

  ul {
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    list-style: none;
    border: 1px solid;
    border-right: none;
    background-color: white;
    text-align: center;
    min-width: 200px;

    @include mq(tablet) {
      position: static;
      border: none;
      padding: 0;
      text-align: right;
      visibility: visible;
      animation: none;
    }

    li {
      text-transform: uppercase;

      @include mq(tablet) {
        display: inline-block;
        border-top: none;
      }
    }
  }
}
