/*************************************************************************
/* THIS FILE IS JUST FOR DEMO PURPOSES IN PATTERN LAB
/*
/* You shouldn't use the $_ variables anywhere else, except colors.scss
/*************************************************************************/

.a__color {
  &__brand-primary {
    background-color: $_brand_primary;
  }

  &__brand-secondary {
    background-color: $_brand_secondary;
  }

  &__brand-tertiary {
    background-color: $_brand_tertiary;
  }

  &__black {
    background-color: $_black;
  }

  &__white {
    background-color: $_white;
  }

  &__gray_24 {
    background-color: $_gray_24;
  }

  &__gray_mid {
    background-color: $_gray_mid;
  }

  &__white_smoke {
    background-color: $_white_smoke;
  }

  &__error {
    background-color: $_error;
  }

  &__positive {
    background-color: $_positive;
  }

  &__neutral {
    background-color: $_neutral;
  }

  &__overlay_dark {
    background-color: $_overlay_dark;
  }

  &__overlay_light {
    background-color: $_overlay_light;
  }
}
