/**
 * Media queries are done as follows:
 * No media query - should be the default mobile style and styles shoul be applied
 * incrementally, which is usually know as mobile first approach for mobile layout.
 *
 * @link https://github.com/sass-mq/sass-mq
 */
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);

// Variable to usage as the main maximum width of the layout.
$max-width: 1200px;

@import 'node_modules/sass-mq/mq';
