/**
 * Media queries are done as follows:
 * No media query - should be the default mobile style and styles shoul be applied
 * incrementally.
 */
$mobile_m: new-breakpoint(min-width 375px 12); // Style applied above 375px
$mobile_l: new-breakpoint(min-width 425px 12); // Style applied above 425px
$tablet: new-breakpoint(min-width 768px 12); // Style applied above 768px
$desktop: new-breakpoint(min-width 1024px 12); // Style applied above 1024px
