/**
 * Apply a natural box layout model to all elements, but allowing components to change
 * @source https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
