{% extends "templates/layouts/layout-1col.twig" %}

{% block title %}
    <h1 class="align-center">Sorry!</h1>
{% endblock %}

{% block content %}
    <p class="align-center">Nothing was found at this address :-(</p>
{% endblock %}
