.o__footer {
  clear: both;
  overflow: hidden;
  background: $footer_bg;
  color: $footer_text;
  line-height: 1.2;
  margin-top: $space;

  .copyright {
    margin-top: $space;
    text-align: center;
  }
}
