$primary: #FF3333;
$secondary: #F2F4F4;
$white: #FFFFFF;
$black: #000000;

// Override bootstrap theme colors.
// https://getbootstrap.com/docs/4.1/getting-started/theming/#modify-map
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
);
