$primary: #f33;
$secondary: #f2f4f4;
$white: #fff;
$black: #000;

// Override bootstrap theme colors.
// https://getbootstrap.com/docs/4.1/getting-started/theming/#modify-map
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
);
