/* purgecss start ignore */

/* Default vertical spacing rules for section-block's */
.post-content {
    > .section-block {
        @apply py-xxl-mob;
    
        &:not(.has-background) + .section-block:not(.has-background) {
            @apply pt-0;
        }

        .section-block {
            @apply pt-xxl-mob pb-0;

            &:first-child {
                @apply pt-0;
            }

            @screen md {
                @apply pt-xxl-dsk pb-0;
            }
        }

        @screen md {
            @apply py-xxl-dsk;
        }
    }
}

/* Default vertical spacing rules for media-block's */
.media-block {
    @apply mt-md-mob;

    &:first-child {
        @apply mt-0;
    }

    @screen md {
        @apply mt-md-dsk;
    }

    p + & {
        @apply mt-xl-mob;

        @screen md {
            @apply mt-xl-dsk;
        }
    }

    .section-block + & {
        @apply mt-xxl-mob;

        @screen md {
            @apply mt-xxl-dsk;
        }
    }
}
  

/* Gutenberg settings */
.alignfull {
    @apply max-w-screen mx-screen;
}

.aligncenter {
    @apply text-center;
}

.has-text-align {
    &-left {
        @apply text-left;
    }

    &-center {
        @apply text-center;
    }

    &-right {
        @apply text-right;
    }

    &-full {
        @apply mx-screen;
    }
}

.is-style-circle-mask {
    img {
        mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
        mask-mode: alpha;
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
        border-radius: none;
    }
}

.wp-block-image {
    &::after {
        content: " ";
        display: table;
        clear: both;
    }

    .alignright {
        @apply float-right;
    }

    .aligncenter {
        @apply mx-auto table;
    }
}
/* purgecss end ignore */