<div class="m__tout">

    <a href="{{ post.acf.permalink }}">

        {% include "atoms/images/landscape.twig" with { "img": { "src": image } } %}

        <div class="m__tout__text">
            <h5>{{ text }}</h5>
        </div>

    </a>

</div>
