@import '~params/colors';
@import '~params/spaces';
@import '~params/borders';
@import '~params/breakpoints';

.o__header {
  background: $header_bg;
  color: $header_text;
  border-bottom: $border-thin solid $header_border;

  .container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: $max-width;
    padding: 10px;
  }

  nav {
    margin-left: auto;
  }

  .a__hamburger {
    position: relative;
    z-index: 5;
  }
}
