.wp-admin {
  // Show/hide alignment options for a given custom block. Replace block name below.
  [data-type='acf/button'] {
    [aria-label='Align left'] {
      display: block;
    }

    [aria-label='Align center'] {
      display: block;
    }

    [aria-label='Align right'] {
      display: block;
    }

    [aria-label='Align width'] {
      display: block;
    }

    [aria-label='Full width'] {
      display: block;
    }
  }
}