$guten-colors: (
  'white': $white,
  'black': $black,
  'primary': $primary,
  'secondary': $secondary,
);

@each $name, $color in $guten-colors {
  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}