// sass-lint:disable no-important

// Width and font of blocks.
.wp-block {
  @include make-container;
  @include make-container-max-widths;

  padding-right: 0;
  padding-left: 0;
}

.editor-block-list__layout {
  font-family: $font;

  .editor-post-title__block {
    padding-right: 0;
    padding-left: 0;

    .editor-post-title__input {
      font-family: $font;
    }
  }

  .editor-block-list__block {
    p {
      @include paragraph;
    }

    ul {
      &.block-editor-rich-text__editable {
        @include list;
      }
    }
  }
}

.editor-post-title {
  padding-right: 0;
  padding-left: 0;
}

.wp-block-verse,
.wp-block-image,
.wp-block-calendar,
.wp-block-quote,
.wp-block-pullquote,
.editor-block-list__block > p { /* stylelint-disable-line no-descending-specificity */
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.wp-block-heading {
  h2 {
    @include h2;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }
}

.wp-block-quote {
  padding-left: 1em;
  border-left: 3px solid $primary;
}

.wp-block-pullquote {
  margin-right: 0;
  margin-left: 0;
  padding: 3em 0;
  border-top: 3px solid $primary;
  border-bottom: 3px solid $primary;
  text-align: center;
}

.wp-block-separator {
  border-color: $secondary;
}