// sass-lint:disable no-important
.wp-block {
  width: 100% !important;
  max-width: $xl !important;
  padding: 0 !important;
}

.wp-block-verse,
.wp-block-image,
.wp-block-calendar,
.wp-block-quote,
.wp-block-pullquote,
.editor-block-list__block > p { // sass-lint:disable-line force-element-nesting
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.block-editor-rich-text {
  &__editable {
    a {
      @include link;
    }
  }
}

.editor-block-list {
  &__layout {
    max-width: 720px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0 !important;
    padding-left: 0 !important;
    font-family: $font !important;
  }

  &__block {
    p {
      @include paragraph;
    }

    ol {
      @include list-ordered;

      &.block-editor-rich-text__editable {
        margin-left: 10px !important;
        padding-left: 10px !important;
      }
    }

    ul {
      @include list-unordered;

      &.block-editor-rich-text__editable {
        margin-left: 0 !important;
        padding-left: 0 !important;
        list-style-type: none !important;
      }

      &:not(.block-editor-rich-text__editable) {
        list-style-type: none;
      }
    }
  }
}

.edit-post-visual-editor {
  .block-editor-block-list__block {
    .block-editor-block-list__block-edit {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.editor-post-title {
  padding: 0;
}

.wp-block-quote {
  @include quote;
}

.wp-block-pullquote {
  @include pullquote;
}

.wp-block-heading {
  h2 {
    @include h2;

    &.h3 {
      @include h3;
    }
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }

  h5 {
    @include h5;
  }

  h6 {
    @include h6;
  }
}

.wp-block-calendar {
  th {
    background-color: $primary !important;
  }
}

.wp-block-image {
  figcaption {
    @include caption;
  }
}

.wp-block-spacer {
  &.height-mobile-50px {
    @media (max-width: $md) {
      height: 10px !important;
    }
  }
}

.wp-block-column {
  margin-bottom: 3rem;

  @media (min-width: $lg) {
    margin-bottom: 1rem;
  }

  .wp-block-image {
    margin-top: 0 !important;
  }
}