@mixin heading {
  color: $black;
  font-family: $font;
  font-weight: 700;
}

@mixin h1 {
  font-size: 30px;
  line-height: 36px;

  @include heading;

  @include media-breakpoint-up(lg) {
    font-size: 36px;
    line-height: 40px;
  }
}

@mixin h2 {
  font-size: 24px;
  line-height: 30px;

  @include heading;

  @include media-breakpoint-up(lg) {
    font-size: 30px;
    line-height: 40px;
  }
}

@mixin h3 {
  font-size: 22px;
  line-height: 28px;

  @include heading;
}

@mixin h4 {
  font-size: 20px;
  line-height: 22px;

  @include heading;
}

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
}

.h4 {
  @include h4;
}